body{
    background-color: rgb(253, 253, 253);
}
nav{
    background-color: blueviolet;
}
li{
    list-style-type: none;
    padding: 10px;
}
li:hover{
    background-color: red;
}
ul{
    padding: 0;
    display: flex;
    justify-content: end;
}
*{
    padding: 0;
    margin: 0;
}
nav a{
    color: white;
}

main{
    height: 300px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: center;
}